{% extends "phone_book_app/layout.html" %}
{% block title %}
User's details
{% endblock %}
{% block content %}
<h1>{{ user.first_name }} {{ user.last_name }}</h1>
<p>These are user's details: </p>
<ul>    
    <li><label>Email: </label> {{ user.email }}</li>    
    <li><label>Created date: </label>{{ user.created_date }}</li>
</ul>
<a href="{% url 'users' %}">Back</a>
<a href="{% url 'delete' user.id %}">Delete</a>
<div>
    {% if user.contact_set.count > 0 %}
    <table>
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in user.contact_set.all %}
                <tr>
                    <td>
                        {{ contact.first_name }}
                    </td>
                    <td>
                        {{ contact.last_name }}
                    </td>
                    <td>
                        <a href="{% url 'contact_details' contact.id %}">Details</a> | <a href="#">Update</a> | <a href="{% url 'delete_contact' contact.id %}">Delete</a>
                    </td>              
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No contacts have been added.</p>
{% endif%}
<p><a href="{% url 'create_contact' user.id %}">Add a contact</a>.</p>
</div>
{% endblock %}